<!--TEXT BLOCK-->
<div id="block-{{ block.id }}" class="text b" {{ block.shopify_attributes }}>
  {{ block.settings.text }}
  {{ block.settings.font | font_face}}
  {{ block.id }}
</div>

{% style %}
  {{ block.settings.font | font_face }}
  #block-{{ block.id }} {

    --font-family: {{ block.settings.font.family }}, {{ block.settings.font.fallback_families }};
    --font-style: {{ block.settings.font.style }};
    --font-size: {{  block.settings.font_size }}pt;
    --font-weight: {{ block.settings.font.weight }};
    --leading: {{ block.settings.leading }}pt;
    --tracking: {{ block.settings.tracking }}pt;
  }
{% endstyle %}

{% stylesheet %}
.text {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--leading);
  letter-spacing: var(--tracking);
  overflow-wrap: break-word;
}

{% endstylesheet %}


{% schema %}
{
  "name": "Text",
  "settings": [
    
    {
      "type": "richtext",
      "id": "text",
      "label": "Content",
      "default": "<p>Your text here</p>"
    },
    {
      "type": "font_picker",
      "id": "font",
      "label": "Font",
      "default": "montserrat_n4"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "pt",
      "default": 12,
      "label": "Size",
    },
    {
      "type": "range",
      "id": "leading",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "pt",
      "default": 12,
      "label": "Leading",
    },
    {
      "type": "range",
      "id": "tracking",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "pt",
      "default": 0,
      "label": "Tracking",
    },
  ],
  "presets": [{"name": "Text"}]
}
{% endschema %}