<!--TEXT BLOCK-->
<div id="block-{{ block.id }}" class="block-text" {{ block.shopify_attributes }}>
  {{ block.settings.text }}
</div>

{% style %}
  {{ block.settings.font | font_face: font_display: 'swap' }}

  #block-{{ block.id }} {
    --font-family: {{ block.settings.font.family }}, {{ block.settings.font.fallback_families }};
    --font-style: {{ block.settings.font.style }};
    --font-size: {{  block.settings.font_size | divided_by: 16 }}rem;
    --font-weight: {{ block.settings.font.weight }};
    --leading: {{ block.settings.leading }}px;
    --tracking: {{ block.settings.tracking }}px;
  }
{% endstyle %}

{% stylesheet %}
.block-text {
  font-family: var(--font-family);
  font-style: var(--font-style);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--leading);
  letter-spacing: var(--tracking);
  overflow-wrap: break-word;
}

.block-text a {
  text-decoration: underline;
  color: blue;
}

.block-text ul {
  list-style-type: disc;
}

.block-text ol {
  list-style-type: decimal;
}

.block-text p,
.block-text ul,
.block-text ol {
  &:last-child {
    margin-bottom: 0;
  }
}

.block-text ul,
.block-text ol {
  margin-left: 2.5rem;
  border: 1px solid red;
}

{% endstylesheet %}


{% schema %}
{
  "name": "Text",
  "settings": [
    
    {
      "type": "richtext",
      "id": "text",
      "label": "Content",
      "default": "<p>Your Text Here</p>"
    },
    {
      "type": "font_picker",
      "id": "font",
      "label": "Font",
      "default": "montserrat_n4"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 16,
      "label": "Size",
    },
    {
      "type": "range",
      "id": "leading",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24,
      "label": "Leading",
    },
    {
      "type": "range",
      "id": "tracking",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "default": 0,
      "label": "Tracking",
    }
  ],
  "presets": [{"name": "Text"}]
}
{% endschema %}