<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {{ 'css/preflight.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'css/theme.css' | asset_url | stylesheet_tag }}

    {% render 'mhslider-core' %}



    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}
    {{ content_for_layout }}

    {% sections 'footer-group' %}

  </body>
</html>
