{% comment %}
  Announcement Bar Section
  Displays an announcement bar with multiple messages that can slide or fade.

  Requires Swiper.js for carousel functionality.
  Make sure to include the following in your layout/theme.liquid file:
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css">
  <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js" defer></script>
{% endcomment %}

<div class="announcement-bar"
  style="
    --text-color: {{ section.settings.color_scheme.settings.text }};
    --bg-color: {{ section.settings.color_scheme.settings.background }};
  ">
  <!-- Slider main container -->
  <div
    class="swiper"
    style="--announcement-bar-padding: {{ section.settings.padding }}px;"
    data-swiper-effect="{{ section.settings.announcement_effect }}"
    data-swiper-autoplay="{{ section.settings.enable_autoplay }}"
    data-swiper-autoplay-delay="{{ section.settings.autoplay_delay }}"
    >

    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for block in section.blocks %}
        <div class="swiper-slide">{{ block.settings.announcement_text }}</div>
      {% endfor %}
    </div>

    <!-- Navigation Buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

{% stylesheet %}

  .announcement-bar {
    display: none;
    color: var(--text-color);
    background: var(--bg-color);
  }

  .announcement-bar > .swiper {
    width: 50%;
    padding-top: var(--announcement-bar-padding);
    padding-bottom: var(--announcement-bar-padding);
    text-align: center;
  }

  .announcement-bar .swiper-button-prev,
  .announcement-bar .swiper-button-next {
    width: 0.4rem;
    color: var(--text-color);
  }

  @media (min-width: 768px) {
    .announcement-bar {
      display: block;
    }
  }
{% endstylesheet %}

{% javascript %}

  const el = document.querySelector('.announcement-bar > .swiper');
  const swiperEffect = el.dataset.swiperEffect;
  const swiperAutoplay = el.dataset.swiperAutoplay === 'true';
  const swiperAutoplayDelay = Number(el.dataset.swiperAutoplayDelay);
  
  // BEGIN SWIPER INITIALIZATION
  const announcementBarSlider = new Swiper(el, {
    direction: 'horizontal',
    loop: true,

    // Autoplay
    autoplay: swiperAutoplay ? {
      delay: swiperAutoplayDelay,
      disableOnInteraction: false,
      pauseOnMouseEnter: true,
    } : false,

    // Effect
    effect: swiperEffect, // 'slide' or 'fade'
    // Fade effect parameters
    fadeEffect: { crossFade: true },

    // Navigation arrows
    navigation: {
      addIcons: swiperAutoplay ? false : true,
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
  
  // Enable/disable based on viewport width
  if (window.innerWidth >= 768) {
    announcementBarSlider.enable()
    announcementBarSlider.init();

  } else {
    announcementBarSlider.disable()
    announcementBarSlider.destroy();
  }

{% endjavascript %}

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Scheme",
      "default": "scheme-1"
    },

    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "label": "Autoplay",
      "default": true,
      "info": "If disabled, navigation arrows will be shown."
    },
    {
      "type": "range",
      "id": "autoplay_delay",
      "min": 1000,
      "max": 5000,
      "step": 500,
      "unit": "ms",
      "label": "Delay",
      "default": 3000
    },
    {
      "type": "select",
      "id": "announcement_effect",
      "label": "Effect Type",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Padding",
      "default": 5,
      "info": "Adjust the padding above and below the announcement text."
    }
  ],
  "blocks": [
    {
      "name": "Announcement Text",
      "type": "announcement-text",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "announcement_text",
          "label": "Text",
          "default": "Annoucement Message Here"
        },
      ]
    }
  ]
    
}
{% endschema %}