<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js" defer></script>


<!-- Slider main container -->
<div
  class="swiper {{ section.settings.bg_color }}"
  data-swiper-effect="{{ section.settings.announcement_effect }}"
  data-swiper-autoplay="{{ section.settings.enable_autoplay }}"
  data-swiper-autoplay-delay="{{ section.settings.autoplay_delay }}"
>
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for block in section.blocks %}
      <div class="swiper-slide">{{ block.settings.announcement_text }}</div>
    {% endfor %}
  </div>

  <!-- Navigation Buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>

{% stylesheet %}
  .b {
    border: 1px solid red;
  }
  .swiper-bg {
    background-color: var(--color-foreground);
    color: var(--color-background);
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
{% endstylesheet %}

{% javascript %}
  const el = document.querySelector('.swiper');
  const swiperEffect = el.dataset.swiperEffect;
  const swiperAutoplay = el.dataset.swiperAutoplay === 'true';
  const swiperAutoplayDelay = Number(el.dataset.swiperAutoplayDelay);
  console.log(swiperAutoplayDelay)

  const swiper = new Swiper('.swiper', {
    direction: 'horizontal',
    loop: true,

    // Autoplay
    autoplay: swiperAutoplay ? { delay: swiperAutoplayDelay, disableOnInteraction: false } : false,

    // Effect
    effect: swiperEffect, // 'slide' or 'fade'
    // Fade effect parameters
    fadeEffect: { crossFade: true },

    // Navigation arrows
    navigation: {
      addIcons: swiperAutoplay ? false : true,
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
{% endjavascript %}

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "settings": [

    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_delay",
      "min": 1000,
      "max": 5000,
      "step": 500,
      "unit": "ms",
      "label": "Delay",
      "default": 3000
    },
    {
      "type": "select",
      "id": "announcement_effect",
      "label": "Effect Type",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Announcement Text",
      "type": "announcement-text",
      "settings": [
        {
          "type": "text",
          "id": "announcement_text",
          "label": "Text",
          "default": "Free shipping on orders over $50!"
        },
      ]
    }
  ]
    
}
{% endschema %}