<!-- Swiper main container -->
<div
  class="swiper announcement-bar"
  style="
    --text-color: {{ section.settings.scheme.settings.text }};
    --bg-color: {{ section.settings.scheme.settings.background }};
  "
  data-swiper-effect="{{ section.settings.announcement_effect }}"
  data-swiper-autoplay="{{ section.settings.enable_autoplay }}"
  data-swiper-autoplay-delay="{{ section.settings.autoplay_delay }}"
>
  <div class="swiper-wrapper">
    <!-- Slides -->
    {% for block in section.blocks %}
      <div class="swiper-slide">{{ block.settings.announcement_text }}</div>
    {% endfor %}
  </div>

  <!-- Navigation Buttons -->
  <div class="swiper-button-prev announcement-button b"></div>
  <div class="swiper-button-next announcement-button"></div>

</div>
{{ section.settings.scheme.settings.primary }}
{% stylesheet %}
  :root {
    --announcement-bar-padding: 0.3rem;
  }
  .b {
    border: 1px solid red;
  }
  .announcement-bar {
    display: none;
    padding-top: var(--announcement-bar-padding);
    padding-bottom: var(--announcement-bar-padding);
    text-align: center;
    color: var(--text-color);
    background: var(--bg-color);
  }
  .announcement-button {
    width: 0.5rem;
    left: 200px;
    color: var(--text-color);
  }

  @media (min-width: 768px) {
    .announcement-bar {
      display: block;
    }
  }
{% endstylesheet %}

{% javascript %}
  const el = document.querySelector('.swiper');
  const swiperEffect = el.dataset.swiperEffect;
  const swiperAutoplay = el.dataset.swiperAutoplay === 'true';
  const swiperAutoplayDelay = Number(el.dataset.swiperAutoplayDelay);

  const swiper = new Swiper('.swiper', {
    direction: 'horizontal',
    loop: true,

    // Autoplay
    autoplay: swiperAutoplay ? { delay: swiperAutoplayDelay, disableOnInteraction: false } : false,

    // Effect
    effect: swiperEffect, // 'slide' or 'fade'
    // Fade effect parameters
    fadeEffect: { crossFade: true },

    // Navigation arrows
    navigation: {
      addIcons: swiperAutoplay ? false : true,
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
{% endjavascript %}

{% schema %}
{
  "name": "Announcement Bar",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "scheme",
      "label": "Scheme",
      "default": "scheme-1"
    },

    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "label": "Autoplay",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_delay",
      "min": 1000,
      "max": 5000,
      "step": 500,
      "unit": "ms",
      "label": "Delay",
      "default": 3000
    },
    {
      "type": "select",
      "id": "announcement_effect",
      "label": "Effect Type",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Announcement Text",
      "type": "announcement-text",
      "settings": [
        {
          "type": "text",
          "id": "announcement_text",
          "label": "Text",
          "default": "Free shipping on orders over $50!"
        },
      ]
    }
  ]
    
}
{% endschema %}