<div class="swiper mhslider">
  <div class="swiper-wrapper mhslider__wrapper">
    {% for block in section.blocks %}
    <div class="swiper-slide mhslider__slide">
      <img class="mhslider__image" src="{{ 'images/banner.jpg' | asset_url }}" alt="">
      <div class="mhslider__slide-wrapper">
        <article class="mhslider__content">
          <div class="mhslider__item mhslider__item--show-up">
            <h2 class="mhslider__heading">{{ block.settings.heading }}</h2>
          </div>
          <div class="mhslider__item mhslider__item--show-up">
            <p class="mhslider__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus libero odio, sed iaculis sem mattis eget. Pellentesque tincidunt sodales sagittis. Donec a sapien a erat finibus pellentesque. Fusce ac vestibulum tortor.</p>
          </div>
          <div class="mhslider__item mhslider__item--show-up">
            <div class="mhslider__button-wrapper">
              <a class="mhslider__button" href="{{ block.settings.primary_button_link }}">
                <span class="mhslider__button-label">{{ block.settings.primary_button_label }}</span>
                <span class="mhslider__button-hover"></span>
              </a>
              {% if block.settings.show_secondary_button %}
              <a class="mhslider__button" href="{{ block.settings.secondary_button_link }}">
                <span class="mhslider__button-label">{{ block.settings.secondary_button_label }}</span>
                <span class="mhslider__button-hover"></span>
              </a>
            {% endif %}
            </div>
          </div>
        </article>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- NAVIGATION BUTTONS -->
  <div class="swiper-pagination mhslider__pagination"></div>
</div>

{% render "mhslider-css" %}
{% render "mhslider-js" %}

{% style %}
.mhslider {
  height: {{ section.settings.mhslider_height }}px;
}
{% endstyle %}

{% schema %}
{
  "name": "Basic Slider",
  "settings": [
    {
      "type": "range",
      "id": "mhslider_height",
      "label": "Slider Height",
      "min": 300,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "default": 600
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Lorem Ipsum",
        },
        {
          "type": "text",
          "id": "desc",
          "label": "Description",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at ullamcorper arcu. Morbi mattis mi mollis arcu ullamcorper, nec elementum odio vehicula.",
        },
        {
          "type": "header",
          "content": "Button Settings"
        },
        {
          "type": "text",
          "id": "primary_button_label",
          "label": "Primary Button Label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "primary_button_link",
          "label": "Primary Button Link",
        },
        {
          "type": "checkbox",
          "id": "show_secondary_button",
          "label": "Show Secondary Button",
          "default": false
        },
        {
          "type": "text",
          "id": "secondary_button_label",
          "label": "Secondary Button Label",
          "default": "Shop Now",
          "visible_if": "{{ block.settings.show_secondary_button }}"
        },
        {
          "type": "url",
          "id": "secondary_button_link",
          "label": "Secondary Button Link",
          "visible_if": "{{ block.settings.show_secondary_button }}"
        }
      ]
    },
  ]
}
{% endschema %}