<div class="swiper mhslider">
  <div class="swiper-wrapper mhslider__wrapper">
    {% for block in section.blocks %}
    <div class="swiper-slide mhslider__slide">
      <img class="mhslider__image" src="{{ 'images/banner.jpg' | asset_url }}" alt="">
      <div class="mhslider__slide-wrapper mhslider__slide-wrapper--{{ block.settings.position }}">
        <article class="mhslider__content mhslider__content--{{ block.settings.alignment }}">
          <div class="mhslider__item mhslider__item--show-up">
            <h2 class="mhslider__heading mhslider__heading--{{ block.id }}">{{ block.settings.heading }}</h2>
          </div>
          <div class="mhslider__item mhslider__item--show-up">
            <p class="mhslider__desc mhslider__desc--{{ block.id }}">{{ block.settings.desc }}</p>
          </div>
          <div class="mhslider__item mhslider__item--show-up">
            <div class="mhslider__button-wrapper">
              <a class="mhslider__button mhslider__button--primary" href="{{ section.settings.primary_button_link }}">
                <span class="mhslider__button-label">{{ section.settings.primary_button_label }}</span>
                <span class="mhslider__button-hover mhslider__button-hover--primary"></span>
              </a>
              {% if section.settings.add_secondary_button %}
              <a class="mhslider__button mhslider__button--secondary" href="{{ section.settings.secondary_button_link }}">
                <span class="mhslider__button-label">{{ section.settings.secondary_button_label }}</span>
                <span class="mhslider__button-hover mhslider__button-hover--secondary"></span>
              </a>
            {% endif %}
            </div>
          </div>
        </article>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- NAVIGATION BUTTONS -->
  <div class="swiper-pagination mhslider__pagination"></div>
</div>

{% render "mhslider-css" %}
{% render "mhslider-js" %}

{% style %}
.mhslider {
  height: {{ section.settings.mhslider_height }}px;
}
.mhslider__button--primary {
  color: {{ section.settings.primary_label_color }};
  background: {{ section.settings.primary_label_bg }};
  &:hover {
    color: {{ section.settings.primary_label_hvrcolor }};
  }
  &:hover > .mhslider__button-hover--primary {
    background: {{ section.settings.primary_label_hvrbg }};
  }
}
.mhslider__button--secondary {
  color: {{ section.settings.secondary_label_color }};
  background: {{ section.settings.secondary_label_bg }};
  &:hover {
    color: {{ section.settings.secondary_label_hvrcolor }};
  }
  &:hover > .mhslider__button-hover--secondary {
    background: {{ section.settings.secondary_label_hvrbg }};
  }
}

{% for block in section.blocks %}
.mhslider__heading--{{ block.id }} {
  color: {{ block.settings.heading_color }};
}
.mhslider__desc--{{ block.id }} {
  color: {{ block.settings.desc_color }};
}
{% endfor %}


@media (min-width: 768px) {
  .mhslider__slide-wrapper--left {
    justify-content: flex-start;
  }
  .mhslider__slide-wrapper--center {
    justify-content: center;
  }
  .mhslider__slide-wrapper--right {
    justify-content: flex-end;
  }
  .mhslider__content--left {
    text-align: left;
    align-items: flex-start;
  }
  .mhslider__content--center {
    text-align: center;
    align-items: center;
  }
  .mhslider__content--right {
    text-align: right;
    align-items: flex-end;
  }
}

{% endstyle %}

{% schema %}
{
  "name": "Basic Slider",
  "settings": [
    {
      "type": "range",
      "id": "mhslider_height",
      "label": "Slider Height",
      "min": 300,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "default": 600
    },
    {
      "type": "header",
      "content": "Primary Button"
    },
    {
      "type": "text",
      "id": "primary_button_label",
      "label": "Label",
      "default": "Button",
    },
    {
      "type": "url",
      "id": "primary_button_link",
      "label": "Link",
    },
    {
      "type": "color",
      "id": "primary_label_color",
      "label": "Label Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "primary_label_bg",
      "label": "Background Color",
      "default": "#0051CA"
    },
    {
      "type": "color",
      "id": "primary_label_hvrcolor",
      "label": "Hover Label Color",
    },
    {
      "type": "color",
      "id": "primary_label_hvrbg",
      "label": "Hover Background Color",
      "default": "#0041a3"
    },
    {
      "type": "checkbox",
      "id": "add_secondary_button",
      "label": "Add Secondary Button",
      "default": false
    },
    {
      "type": "header",
      "content": "Secondary Button",
      "visible_if": "{{ section.settings.add_secondary_button }}"
    },
    {
      "type": "text",
      "id": "secondary_button_label",
      "label": "Label",
      "default": "Button",
      "visible_if": "{{ section.settings.add_secondary_button }}"
    },
    {
      "type": "url",
      "id": "secondary_button_link",
      "label": "Link",
      "visible_if": "{{ section.settings.add_secondary_button }}"
    },
    {
      "type": "color",
      "id": "secondary_label_color",
      "label": "Label Color",
      "default": "#ffffff",
      "visible_if": "{{ section.settings.add_secondary_button }}"
    },
    {
      "type": "color",
      "id": "secondary_label_bg",
      "label": "Background Color",
      "default": "#0051CA",
      "visible_if": "{{ section.settings.add_secondary_button }}"
    },
    {
      "type": "color",
      "id": "secondary_label_hvrcolor",
      "label": "Hover Label Color",
      "visible_if": "{{ section.settings.add_secondary_button }}"
    },
    {
      "type": "color",
      "id": "secondary_label_hvrbg",
      "label": "Hover Background Color",
      "default": "#0041a3",
      "visible_if": "{{ section.settings.add_secondary_button }}"
    },
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Lorem Ipsum",
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Color",
        },
        {
          "type": "text",
          "id": "desc",
          "label": "Description",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at ullamcorper arcu. Morbi mattis mi mollis arcu ullamcorper, nec elementum odio vehicula.",
        },
        {
          "type": "color",
          "id": "desc_color",
          "label": "Color",
        },
        {
          "type": "text_alignment",
          "id": "alignment",
          "label": "Text Alignment",
          "default": "center"
        },
        {
          "type": "text_alignment",
          "id": "position",
          "label": "Position",
          "default": "center"
        }
      ]
    },
  ]
}
{% endschema %}